<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Resend unlock instructions</div>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, "Enter Your Email" %><br />
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
        </div>

        <div class="actions">
          <%= f.submit "Resend unlock instructions", class:"btn btn-primary" %>
        </div>
    <% end %>
  </div>
  <div class="panel-footer"><%= render "devise/shared/links" %></div>
</div>