<!DOCTYPE html>
<html>
  <head>
    <title>Woe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container">
    <% if user_signed_in? %>
        <%= render 'home/header' %>
        <% flash.each do |name, msg| %>
           <%= content_tag(:div, msg, class: "alert alert-info") %>
        <% end %>
      <%= yield %>
    <% elsif (/user/).match(request.fullpath) %>
        <%= render 'home/header' %>
        <%= yield %>
    <% else %>
      <div align="center">
       <div class="jumbotron">
         <h1>Join us!</h1>
         <%= link_to 'Sign Up!', new_user_registration_path, class: "btn btn-success btn-lg" %> <br> <br>
         <i>Already have an account?</i> <br>
         <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary btn" %> <br>
          <br>
       </div>
     </div>
    <% end %>
  </div>
  </body>
</html>
